<!-- Button trigger modal -->
<div class="contenedorBtn">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    Añade una Experiencia
  </button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel1">Ingresa una nueva Experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
         <div class="contenedor-formulario">
            <div class="modal-body"></div>
                <h3>Tu experiencia debe contener un título y una descripción</h3>
                <form action="" #miForm="ngForm" id="formulario" class="formulario"(ngSubmit)="onSubmit(); miForm.resetForm()">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control" type="text" name="text" id="text" placeholder="Escribe el Título" [(ngModel)]="texto">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type="text" name="descripcion" id="descripcion" placeholder="Escribe una descripción" [(ngModel)]="descripcion">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                    
                    <div class="modal-footer">
                         <button type="submit" text="Guardar Experiencia" class="btn btn-primary">Guardar Experiencia</button>
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                   
                </form>
                
            </div>
            
        </div>
        
      </div>
    </div>
  

  





