<section class="educacion">
    

    <h1 class="titulo">Educación</h1> 

  <div class="row">
    <div class="col-sm-4 contenedorSegundo" *ngFor="let item of educacion" >
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{item.nombre}}</h2>
          <h4 class="card-text">
            {{item.descripcion}}
          </h4>
        </div>
        <div class="contenedorCapa">
          <button mat-fab color="warn" (click)="deleteEducacion(item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="btn-editar"
            type="button"
            mat-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            data-bs-toggle="modal"
            data-bs-target="#exampleModaledit2"
            data-whatever="@mdo"
            (click)="abrirFormParaEditar(item)"
          >
            <mat-icon>edit</mat-icon></button
          >>
        </div>
      </div>
    </div>
  </div>

  <div
  class="modal fade"
  id="exampleModaledit2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Actualiza tu nueva Educación
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="contenedor-formulario">
        <div class="modal-body">
          <h3>Tu Educación debe contener un título y una descripción</h3>
          <form action="" class="formulario" [formGroup]="formValue">
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="nombre"
                    id="text"
                    placeholder="Escribe el Título"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <input
                        class="form-control"
                        type="text"
                        formControlName="descripcion"
                        placeholder="Escribe una descripción"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                (click)="guardarActualizacion()"
              >
                actualizar
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <app-add-educacion (addEducacion)="addEducacion($event)"></app-add-educacion>
  
</section>



  