<div class="educacion">
    

    <h1 class="titulo">Educación</h1> 

  <div class="row">
    <div class="col-sm-4 contenedorSegundo" *ngFor="let item of educacion" >
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{item.nombre}}</h2>
          <h4 class="card-text">
            {{item.descripcion}}
          </h4>
        </div>
        <div class="contenedorCapa">
          <button mat-fab color="warn" (click)="deleteEducacion(item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="btn-editar"
            type="button"
            mat-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
            data-bs-toggle="modal"
            data-bs-target="#exampleModaledit"
            data-whatever="@mdo"
            (click)="abrirFormParaEditar()"
          >
            <mat-icon>edit</mat-icon></button
          >>
        </div>
      </div>
    </div>
  </div>

  <app-add-educacion
    (addEducacion)="addEducacion($event)">
    </app-add-educacion>
</div>

  