<section class="contacto" id="contacto">
    <div class="container">
        <h1>Contactame</h1>
        <form class="formulario" action="https://formsubmit.co/pedrojuarezvisuara@gmail.com" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Escribe tu nombre" required>
              </div>
              <div class="col">
                <input type="email" name="email" class="form-control" placeholder="email" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea placeholder="Escribe tu mensaje..." class="form-control" name="message" rows="8" required></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
          <input type="hidden" name="_captcha" value="false"></form>
      </div>
  </section>
