<section class="sobre-mi" id="sobre-mi">
    <h1 class="titulo">Sobre mi</h1>
    <div class=" contenido">
        <div class="contenedor-img">
            <img class="img" src="../../../assets/img/perfil.jpg" alt="">
        </div>
        <div class="contenedor-texto">
            <h4 *ngFor="let item of sobreMi"> {{item.sobreMi}}</h4>
        </div>
    </div>
    <div class="contenedor-lenguajes">
        <ul class="contenedor-logos">
          <li><img src="../../../assets/img/html-logo.png" alt="icono-html"></li>
          <li><img src="../../../assets/img/icono css.png" alt="icono-css"></li>
          <li><img src="../../../assets/img/js-logo.png" alt="icono-js"></li>
          <li><img src="../../../assets/img/inconoReact.png" alt="icono-react"></li>
        </ul>
    </div>
  </section>
