.experiencia {
    width: 100%;
    height: auto;
    padding-left: 25px;
    background-color: rgb(242, 240, 238) ;
}

.btn-delete:hover {
    border-radius: 30%;
    background-color:  orange;
    cursor: pointer;
}

.btn-edit:hover {
    border-radius: 30%;
    background-color:  orange;
    cursor: pointer;
}