<section class="proyectos"  id="proyectos">
    <h1>Proyectos</h1>
    <div class="conteiner-tarjetas">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/tarjetadeCumple.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Targeta de Cumpleaños</h5>
            <p class="card-text">Desarrolada con Html y Css</p>
            <a href="https://cumpleabril.vercel.app/" class="btn btn-primary" target="_blank">Demo</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/tarjetaLocaldRopa.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">E-Commerse</h5>
            <p class="card-text">Pagina Web desarrolada con Html, Css, y JavaScript</p>
            <a href="https://proyecto-integrafor-pedroantoniojuarez.vercel.app/" class="btn btn-primary" target="_blank">Demo</a>
            </div>
        </div>
    </div>
  </section>
